$primaryBackground: #e8eff7;
$primaryWidth:100%;
$primaryHeight: 828px;
$primaryFontFamily: Roboto;
$primaryFontStyle: normal;
$primaryFontStretch: normal;
$textAlign: center;
$primaryColor: #3c88b5;
$primaryBorderRadius: 4px;